<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FarmaTag.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F0E3E07B36FD1F713ED19686F0D0DFF92F68D3D9</string>
				<key>dateExpires</key>
				<string>19/2/26</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F0E3E07B36FD1F713ED19686F0D0DFF92F68D3D9</string>
						<key>dateExpires</key>
						<string>19/2/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9447VZDGRS</string>
						<key>name</key>
						<string>Farmaenlace Cia. Ltda.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F0E3E07B36FD1F713ED19686F0D0DFF92F68D3D9</string>
						<key>dateExpires</key>
						<string>19/2/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9447VZDGRS</string>
						<key>name</key>
						<string>Farmaenlace Cia. Ltda.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F0E3E07B36FD1F713ED19686F0D0DFF92F68D3D9</string>
						<key>dateExpires</key>
						<string>19/2/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_secure_storage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9447VZDGRS</string>
						<key>name</key>
						<string>Farmaenlace Cia. Ltda.</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F0E3E07B36FD1F713ED19686F0D0DFF92F68D3D9</string>
						<key>dateExpires</key>
						<string>19/2/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geolocator_apple.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9447VZDGRS</string>
						<key>name</key>
						<string>Farmaenlace Cia. Ltda.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F0E3E07B36FD1F713ED19686F0D0DFF92F68D3D9</string>
						<key>dateExpires</key>
						<string>19/2/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9447VZDGRS</string>
						<key>name</key>
						<string>Farmaenlace Cia. Ltda.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F0E3E07B36FD1F713ED19686F0D0DFF92F68D3D9</string>
						<key>dateExpires</key>
						<string>19/2/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9447VZDGRS</string>
						<key>name</key>
						<string>Farmaenlace Cia. Ltda.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F0E3E07B36FD1F713ED19686F0D0DFF92F68D3D9</string>
						<key>dateExpires</key>
						<string>19/2/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9447VZDGRS</string>
						<key>name</key>
						<string>Farmaenlace Cia. Ltda.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F0E3E07B36FD1F713ED19686F0D0DFF92F68D3D9</string>
						<key>dateExpires</key>
						<string>19/2/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite_darwin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9447VZDGRS</string>
						<key>name</key>
						<string>Farmaenlace Cia. Ltda.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F0E3E07B36FD1F713ED19686F0D0DFF92F68D3D9</string>
						<key>dateExpires</key>
						<string>19/2/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9447VZDGRS</string>
						<key>name</key>
						<string>Farmaenlace Cia. Ltda.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>9447VZDGRS.com.farma.capturaprecios</string>
				<key>com.apple.developer.team-identifier</key>
				<string>9447VZDGRS</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Captura Precio.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>892f5d5a-6cf0-4275-abc0-3335f24fd786</string>
				<key>dateExpires</key>
				<string>19/2/26</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.farma.capturaprecios</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>9447VZDGRS</string>
				<key>name</key>
				<string>Farmaenlace Cia. Ltda.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.1.0</string>
		</dict>
	</array>
</dict>
</plist>
